/* barre de navigation */
.nav-link{
display: flex;
align-items: center;justify-content: center;
color:aliceblue
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
        
/* 1 contenaire */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
        
.footer-section {
background-color: #2ee291;
color: #ae4a07a9;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
        
.footer-section h1,
.footer-section h2 {
margin-bottom: 10px;
}
        
.footer-section ul {
list-style-type: none;
}
        
.footer-section ul li {
margin: 5px 0;
}
        
.footer-section ul li a {
color: hsla(30, 83%, 35%, 0.915);
text-decoration: none;
}
        
.footer-section ul li a:hover {
color: hsla(27, 83%, 33%, 0.859);
}

.social-icons a {
margin-right: 10px;
display: inline-block;
}
        
.social-icons img {
width: 24px;
height: 24px;
filter: grayscale(100%);
transition: filter 0.3s;
}
        
.social-icons img:hover {
filter: grayscale(0%);
}
        
/*bas*/
.auteur-section {
background-color: #222;
color: #ccc;
padding: 10px;
text-align: center;
}
        
  /*bas 2*/      
.footer-section, .auteur-section {
width: 100%;
}
        
/* En cas de contenu minimal, le footer reste en bas */
.footer-section {
margin-top: auto;
}


/*formulaire authe*/
.button1 {
    background-color: rgb(178, 218, 241);
}

.button2 {
    background-color: rgb(178, 218, 241);
}

.button3 {
    background-color: rgba(173, 125, 54, 0.664);
}

.button4 {
    background-color: #4e2b09ab;
}